In [3]:
a=5
for i in range(10):
    a+=1
    if i%2==0:
        a+=1
        continue
    else:
        print(3)
    break
print(a)

3
8

In [4]:
#for-else
#else execute after complete execution of for loop
a=1
for i in range(10):
    if i%3==0:
        continue
else

SyntaxError: invalid syntax (<ipython-input-4-1e76dacbc3b5>, line 7)

In [23]:
#max,min,2nd max,avg,2nd min
max1=0
max2=0
min2=0
min2=0
summ=0
c=0
while True:
    n=input("Enter Marks of the Student:")
    if n=='Done':
        break
    n=int(n)    
    if n<0 or n>100:
        print("Invalid Marks Try Again!!")
    else :
        summ+=n
        if c==0:
            max1=n
            min1=n
            c+=1
        else:
            c+=1
            if n>max1 or n<max2:
                max2=max1
                max1=n
                
            elif n<min1: 
                print(min1,min2)
                min2=min1
                min1=n
            elif n>min1 and n<min2:
                min2=n
avg=summ/c                
print(f"Sum: {summ}")
print(f"First Max: {max1}")
print(f"Second Max: {max2}")
print(f"First Min: {min1}")
print(f"Second Min:{min2}")
print(f"Avrage: {avg}")

Enter Marks of the Student:20
Enter Marks of the Student:30
Enter Marks of the Student:40
Enter Marks of the Student:50
Enter Marks of the Student:60
Enter Marks of the Student:Done
Sum: 200
First Max: 60
Second Max: 50
First Min: 20
Second Min:0
Avrage: 40.0

In [32]:
n=int(input("Enter Number="))
for r in range(1,n+1):
    for c in range (1,n+1):
        print('*',end=" ")
    print()

Enter Number=5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [40]:
n=int(input("Enter R="))
for i in range(1,n+1):
    for j in range (1,i+1):
        print('*',end=" ")
    print()

Enter R=5
*
* *
* * *
* * * *
* * * * *

In [57]:
n=int(input("Enter R="))
for i in range(1,n+1):
    for j in range (n+1,i,-1):
        print("*",end=" ")
    print()

Enter R=5
* * * * *
* * * *
* * *
* *
*

In [75]:
n=int(input("Enter R="))
for i in range(1,n+1):
    for j in range (n+1,i,-1):
        print(' ',end=" ")
    for k in range (1,i+1):
        print('*',end=" ")
    print()

Enter R=5
          *
        * *
      * * *
    * * * *
  * * * * *

In [30]:
n=int(input("Enter R="))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(' ',end=" ")
    for k in range (n+1,i,-1):
        print('*',end=" ")
    print()

Enter R=5
  * * * * *
    * * * *
      * * *
        * *
          *

In [19]:
n=int(input("Enter R="))
for i in range(1,n+1):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    for g in range (2,i+1):
        print("*",end=" ")
    print()
for i in range(n+1,0,-1):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    for g in range (2,i+1):
        print("*",end=" ")
    print()

Enter R=5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [66]:
n=int(input("Enter R="))
for i in range(1,n+1):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(k,end=" ")
    for g in range (2,i+1):
        print(g,end=" ")
    print()
for i1 in range(n+1,0,-1):
    for j1 in range (n+1,i1,-1):
        print(" ",end=" ")
    for k1 in range(i1,0,-1):
        print(k1,end=" ")
    for g1 in range (2,i1+1):
        print(g1,end=" ")
    print()

Enter R=5
          1
        2 1 2
      3 2 1 2 3
    4 3 2 1 2 3 4
  5 4 3 2 1 2 3 4 5
6 5 4 3 2 1 2 3 4 5 6
  5 4 3 2 1 2 3 4 5
    4 3 2 1 2 3 4
      3 2 1 2 3
        2 1 2
          1

In [156]:
n=int(input("Enter R="))
for i in range(n,0,-1):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(" ",k,end=" ")
    print()
for i in range(2,n+1):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(" ",k,end=" ")
    print()

Enter R=10
    10   9   8   7   6   5   4   3   2   1
      9   8   7   6   5   4   3   2   1
        8   7   6   5   4   3   2   1
          7   6   5   4   3   2   1
            6   5   4   3   2   1
              5   4   3   2   1
                4   3   2   1
                  3   2   1
                    2   1
                      1
                    2   1
                  3   2   1
                4   3   2   1
              5   4   3   2   1
            6   5   4   3   2   1
          7   6   5   4   3   2   1
        8   7   6   5   4   3   2   1
      9   8   7   6   5   4   3   2   1
    10   9   8   7   6   5   4   3   2   1

In [106]:
n=int(input("Enter R="))
for i in range(n,0,-1):
    for j in range(n+i-1,i,-1):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(k,end=" ")
    print() 
for i1 in range(n,0,-1):
    for j1 in range(n-1,i1,-1):
        print(" ",end=" ")
    for k1 in range(i1,0,-1):
        print(k1,end=" ")
    print()

Enter R=5
        5 4 3 2 1
        4 3 2 1
        3 2 1
        2 1
        1
5 4 3 2 1
4 3 2 1
  3 2 1
    2 1
      1

In [195]:
import math
math.factorial(7)
n=int(input("Enter R="))
for i in range(n):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(" ",math.factorial(i)//(math.factorial(k)*math.factorial(i-k)),end=" ")
    print()

Enter R=5
              1
            1   1
          1   2   1
        1   3   3   1
      1   4   6   4   1

#chr(66)
#ord('A')
for i in range(2,n+1):
    for j in range (n+1,i,-1):
        print(" ",end=" ")
    for k in range(i,0,-1):
        print(" ",k,end=" ")
    print()

In [20]:
n=int(input("Enter R="))
for i in range(n):
    for k in range(0,i+1,1):
        print("",chr(k+65),end=" ")
    print()

Enter R=5
 A
 A  B
 A  B  C
 A  B  C  D
 A  B  C  D  E

In [8]:
current_time=int(input("Enter Time Current Time(hr): "))
current_am_pm=input("Enter a.m/p.m.: ")
next_time=int(input("Enter 2nd Time(hr): "))
if current_time+next_time>=12:
    if current_am_pm=='a.m.':
          ans_am_pm='p.m.'
    else:
          ans_am_pm='a.m.'
    ans_time=next_time+current_time-12
else :
    ans_time=current_time+next_time
    ans_am_pm=current_am_pm
print(ans_time,"",ans_am_pm)

Enter Time Current Time(hr): 8
Enter a.m/p.m.: a.m.
Enter 2nd Time(hr): 5
1  p.m.