In [2]:
print("Hello")

Hello

In [4]:
def even_add(num):
    if num%2==0:
        print("No. is even")
    else:
        print("No. is odd")
print(even_add(5))

No. is odd
None

In [7]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [32]:
days = int(input("Enter the number of days: "))
years = days // 365
months = (days-years*365)//30
remaining_days = days-(365*years)-(months*30)
print(f"Years: {years}, Months: {months}, Days: {remaining_days}")

Enter the number of days:  395

Years: 1, Months: 1, Days: 0

In [35]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
if a>b and a>c:
    print(f"max number is {a}")
elif b>c:
    print(f"max number is {b}")
else:
    print(f"max number is {c}")

Enter first number:  11
Enter second number:  13
Enter third number:  34

max number is 34.0

In [39]:
for i in range(1,-1,-1):
    print(i)

1
0

In [76]:
n=int(input("Enter Number of rows="))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter Number of rows= 5

*
* *
* * *
* * * *
* * * * *

In [50]:
n=int(input("Enter number of rows="))
for i in range (1,n+1):
    for j in range(n+1,i,-1):
        print("*",end=" ")
    print()

Enter number of rows= 5

* * * * *
* * * *
* * *
* *
*

In [135]:
n=int(input("Enter Number="))
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end="")
    for k in range(i):
        print("*",end=" ")
    print()

Enter Number= 5

     *
    * *
   * * *
  * * * *
 * * * * *

In [89]:
n=int(input("Enter number of rows="))
for i in range (n,0,-1):
    for j in range(1,i+1,1):
        print(f"{j}",end=" ")
    print()

Enter number of rows= 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [122]:
n=int(input("Enter Number of rows="))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(" ",end=" ")
    for k in range(n+1-i,0,-1):
        print("*",end=" ")
    print()

Enter Number of rows= 5

  * * * * *
    * * * *
      * * *
        * *
          *

In [111]:
n=int(input("Enter  Number of rows="))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("",j,end="")
    print()

Enter  Number of rows= 5

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

#####

In [124]:
n=int(input("Enter Number of rows="))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("",i,end="")
    print()

Enter Number of rows= 5

 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5

In [136]:
n=int(input("Enter Number of rows="))
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==0:
            print("#",end=" ")
        else:
            print("*",end=" ")
    print()

Enter Number of rows= 5

*
# #
* * *
# # # #
* * * * *

In [153]:
n=int(input("Enter Number of rows="))
for i in range(0,n):
    for j in range(0,i+1):
        if (i+j)%2==0:
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

Enter Number of rows= 4

1
0 1
1 0 1
0 1 0 1

In [166]:
n=int(input("Enter Number="))
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("",k,end="")
    print()

Enter Number= 4

     1
    1 2
   1 2 3
  1 2 3 4

In [167]:
n=int(input("Enter Number="))
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end="")
    for k in range(i):
        print("",i,end="")
    print()

Enter Number= 5

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5

In [169]:
n=int(input("Enter Number="))
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end="")
    for k in range(i):
        if i%2==0:
            print("#",end=" ")
        else:
            print("*",end=" ")
    print()

Enter Number= 5

     *
    # #
   * * *
  # # # #
 * * * * *

In [222]:
n=int(input("Enter Number="))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    for k in range(2*n-i,i+1,-1):
        print(" ",end=" ")
    for g in range(1,k-1):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    for k in range(2*n-i,i+1,-1):
        print(" ",end=" ")
    for g in range(1,k-1):
        print("*",end=" ")
    print()

Enter Number= 5

*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *

Enter Number= 5

  1                 1
  1  2             2   2
  1  2  3         3   3   3
  1  2  3  4     4   4   4   4
  1  2  3  4  5   5   5   5   5
  1  2  3  4   * * * *
  1  2  3         * * *
  1  2               * *
  1                     *